---
import Layout from '~/layouts/PageLayout.astro';
import "~/components/style.css";



const metadata = {
  title: 'About Us',
};
---

<Layout metadata={metadata}>
    <h1 class="text-center font-black">About Page</h1>
    <br>
    <p class="text-center font-bold">Welcome to my blog! My name is Adnan</p>
    <br>
    <p class="text-center mx-auto max-w-[75%] mb-10">I'm passionate about coding, data science, AI, and all things tech. Here, I share tutorials, projects, and insights based on my experiences with programming languages like Python, JavaScript, R, and tools like Docker and Flutter. Whether you're just starting out or looking for deeper technical dives, you'll find something here to help you on your coding journey.

      Feel free to explore, learn, and join me as I continue to grow and explore the world of technology.
      
      Happy coding!</p>
</Layout>