---
import Layout from '~/layouts/PageLayout.astro';
import "~/components/style.css";



const metadata = {
  title: 'About Us',
};
---

<Layout metadata={metadata}>
    <h1>About Page</h1>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    
</Layout>