---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import "~/components/style.css";



const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
    <h1>About Page</h1>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    
</Layout>