---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import "~/components/style.css";

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---
<script type="module">
  import * as THREE from '/public/three.min.js';
  console.log(THREE)
</script>
<script type="module" src="/public/vanta.net.min.js"></script>
<script>
  VANTA.NET({
    el: ".relative",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.00,
    minWidth: 200.00,
    scale: 1.00,
    scaleMobile: 1.00,
    color: 0x4100fc,
    backgroundAlpha: 0,
    points: 20.00,
    maxDistance: 25.00
  })
</script>

<Layout {meta}>
  <!-- Hero Widget ******************* -->
  <Hero >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight"><div id="div">Welcome</div></span></Fragment>
    </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <!-- HighlightedPosts Widget ******* -->

  <LatestPosts
    title="Find out more content in our Blog"
    information={`This blog will contain posts about Python and Web3. It will include tutorials posts and any interesting findings about them.
                `}
    postIds={[
      ''
    ]}
  />
 
</Layout>